<header>
  <h1>Cats with a hard life</h1>
</header>
<nav>
  <%= link_to 'Generate a cat', new_sad_cat_path, { class: 'btn btn-primary'} %>
</nav>
<section id="pinBoard">

</section>
<div class="loader">
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>